################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Blazor-specific
*.user
*.suo
*.cache
*.tmp

# Visual Studio files
.vs/
*.vscode/
*.sln
*.suo
*.user
*.userprefs
_ReSharper.*/
*.resharper.user
*.resharper
*.sln.ide

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Rider
.idea/

# Others
*.Cache
*.log
npm-debug.log*
node_modules/
/Auth0Login/.vs/Auth0Login/v17/.suo
/Auth0Login/.vs/Auth0Login/v17/DocumentLayout.json
